<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div id="news-slider" th:fragment="news-slider" >
    <div class="slider-news-wrap">
        <div class="cont news-card">
            <div class="cursor overlay" onclick="window.open('https://naver.com')"></div>
            <img th:src="@{https://woowahan-cdn.woowahan.com/new_resources/image/card/a609e5448e694f258e51fa91bf64ff95.jpg}">
            <p>산불 피해 극복을 위해<br>희망을 더해요</p>
        </div>
        <div class="cont news-card">
            <div class="cursor overlay" onclick="window.open('https://naver.com')"></div>
            <img th:src="@{https://woowahan-cdn.woowahan.com/new_resources/image/card/8abc9ce30eb64a44b67f3530dcffdbf0.png}">
            <p>산불 피해 극복을 위해<br>희망을 더해요</p>
        </div>
        <div class="cont news-card">
            <div class="cursor overlay" onclick="window.open('https://naver.com')"></div>
            <img th:src="@{https://woowahan-cdn.woowahan.com/new_resources/image/card/21af8e76147247d6abc7f4d81994e0bd.jpg}">
            <p>산불 피해 극복을 위해<br>희망을 더해요</p>
        </div>
        <div class="cont news-card">
            <div class="cursor overlay" onclick="window.open('https://naver.com')"></div>
            <img th:src="@{https://woowahan-cdn.woowahan.com/new_resources/image/card/89fe8ca1439943218517dff9b287f327.jpg}">
            <p>산불 피해 극복을 위해<br>희망을 더해요</p>
        </div>
        <div class="cont news-card">
            <div class="cursor overlay" onclick="window.open('https://naver.com')"></div>
            <img th:src="@{https://woowahan-cdn.woowahan.com/new_resources/image/card/a609e5448e694f258e51fa91bf64ff95.jpg}">
            <p>산불 피해 극복을 위해<br>희망을 더해요</p>
        </div>
        <div class="cont news-card">
            <div class="cursor overlay" onclick="window.open('https://naver.com')"></div>
            <img th:src="@{https://woowahan-cdn.woowahan.com/new_resources/image/card/f73bd85b0b39403191264c3440373e8f.jpg}">
            <p>산불 피해 극복을 위해<br>희망을 더해요</p>
        </div>
    </div> <!-- /slider-news-wrap -->
</div> <!-- /news-slider -->


</html>