<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<th:block th:replace="~{/fragments/customer/common/head :: head}"></th:block>
<!-- page css -->
<link th:href="@{/css/customer/main-page.css}" rel="stylesheet"/>
<link th:href="@{/css/customer/main/main-slider.css}" rel="stylesheet"/>
<!-- page script -->
<script th:src="@{/js/customer/slider.js}" defer>
<!--    우리꺼 넣을때는 이렇게 여기다가 넣어야함 defer 는 js를 마지막으로 돌아가게 하는거. -->
</script>
</head>
<body>
<!-- header -->
<th:block th:replace="~{/fragments/customer/common/header :: header}"></th:block>

<section id="contents">

//본문
</section>

<!-- footer -->
<div id="footer">
    <th:block th:replace="~{/fragments/customer/common/footer :: footer}"></th:block>
</div>

<!-- 페이지 script -->
<script type="text/javascript">

</script>

</body>
</html>