.main-margin{
    margin: 0 auto;
}

.title-flex-a{
    flex: 1;
    padding: 0rem;
    justify-content: center;
}
.title-flex-b{
    display: flex;
    align-content: flex-end;
    justify-content: center;
}

.sub-margin1{
    margin-top: 1rem;
}

.sub-margin2{
    margin-top: 2rem;

}
.sub-margin3{
    margin-top: 3rem;
}

.form-login{
    width: 400px;
    height: 68px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 5px;
}
.find{
    flex: 2;
    color : #747474;
    border: 1px solid #EEEEEE;
    background: #EEEEEE;
    border-radius: 20px;
}

.find-font{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 11px;
    color: #747474;
}

.purple-btn{
    text-align: center;
   border: 3px solid #AD8AFE;
    background-color:#AD8AFE;
    color: white ;
    width: 400px;
    height: 68px;
    border-radius: 50px;
    font-size: 1.3rem;

}
.purple-btn:hover{
background-color: white;
color:#AD8AFE;
}

.kakao-btn{
    text-align: center;
    border: 3px solid  #FEF01B;
    background: #FEF01B;
    border-radius: 15px;
    width: 400px;
    height: 68px;
    font-size: 1.3rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    align-items: center;
    color: #000000;
}

.naver-btn{
    text-align: center;
    border: 3px solid  #2DB400;
    background: #2DB400;
    border-radius: 15px;
    width: 400px;
    height: 68px;
    font-size: 1.3rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    align-items: center;
    color: white;
}




.google-btn{
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
    width: 400px;
    height: 68px;
    font-size: 1.3rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    align-items: center;
    color: black;
}