<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" >
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="연말정산 간소화 서비스, 보라"/>
    <meta name="author" content="ChanHee"/>
    <title>보라, 연말정산 간소화 서비스</title>
    <!-- basic favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
    <!-- icons -->

    <!-- Core theme CSS (includes CSS)-->
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/customer/common.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <!-- ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
    <!-- jQuery 3.1.1 -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</html>