#news-slider .post-slider{
  border:1px solid red;
}
#news-slider .post-slider .post-wrapper{
  width:84%;
  height:350px;
  margin:0px auto;
  border:1px dashed red;
}
#news-slider .post-slider .post-wrapper .post{
  width:300px;
  height:350px;
  display:inline-block;
  background:gray;
}
#news-slider .slider-news-wrap ul.slick-dots li button{
    display:none;
}
#news-slider .slider-news-wrap ul.slick-dots{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 10px;
}
#news-slider .slick-list{
    z-index: 1;
}
#news-slider .slider-news-wrap .slick-arrow{
    width: 62px;
    height: 62px;
    padding: 0;
    opacity: 1;
    border: 0;
    position: absolute;
    }
@media screen and (min-width: 769px){
#news-slider .slider-news-wrap .slick-prev {
    background: url("/img/icon/ic-arrow-prev.png") no-repeat 50%/140%;
    z-index: 99;
    top: 40%;
    left: 20vw;
}
#news-slider .slider-news-wrap .slick-next {
    background: url("/img/icon/ic-arrow-next.png") no-repeat 50%/140%;
    z-index: 99;
    top: 40%;
    left: 75vw;
}
#news-slider .slick-initialized .slick-slide{
    width: 183px;
    height: 250px;
    margin: 1rem;
}
}

#news-slider .news-card > p{
       position: relative;
       display: -webkit-box;
       height: 52px;
       color: white;
       font-size: 15px;
       font-weight: 700;
       line-height: 1.625;
       white-space: pre-line;
       text-overflow: ellipsis;
       overflow: hidden;
       -webkit-box-orient: vertical;
       -webkit-line-clamp: 2;
       bottom: 27%;
       left: 10%;
}
#news-slider .news-card > img{
    border-radius: 2rem;
    border: 1px solid #dedede;
    }

{
     background: rgba(50, 70, 80, 0.7);
     overflow: hidden;
     height: 100%;
    }
#news-slider .news-card:nth-child(even){
    margin-top: 4rem;
}
#news-slider .news-card .overlay {
    background: linear-gradient(to bottom, rgb(255 255 255 / 0%), rgb(0 0 0 / 44%));
    width: 184px;
    height: 250px;
    position: absolute;
    border-radius: 2rem;
    }